@import url("mandel.css");

article {
    width: 45%;
}

#o-meni{
    width: 90%;
    margin-bottom: 10px;
}

#podnozje {
    font-size: 14px;
  }
  
  #podnozje img {
    width: 30px;
    height: 30px;
  }
