@import url("mandel.css");

#zaglavlje {
  white-space: nowrap;
}

#zaglavlje.pocetna {
  font-size: 20px;
  height: 60px;
}

#zaglavlje.multimedija {
  font-size: 20px;
  height: 60px;
}

#zaglavlje.prijava {
    font-size: 20px;
    height: 60px;
}

#zaglavlje.registracija {
    font-size: 20px;
    height: 60px;
}

#zaglavlje.obrazac {
    font-size: 20px;
    height: 60px;
}

#zaglavlje.popis {
    font-size: 20px;
    height: 60px;
}

#izbornik > ul {
  font-size: 15px;
}

#o-meni {
  width: 90%;
  margin-bottom: 10px;
}

article {
  width: 80%;
  font-size: 15px;
  height: 100%;
}

hr {
  border: 0;
}

#podnozje {
  font-size: 12px;
}

#podnozje img {
  width: 25px;
  height: 25px;
}