@import url("mandel.css");

@keyframes pocetnaAnimacija480{
    from{
        width: 0%;
        font-size: 0px;
        background-color: rgb(255, 70, 70);
    }

    to{
        width: 100%;
        font-size: 20px;
        background-color: rgb(100, 0, 0);
    }
}

#zaglavlje{
    animation: pocetnaAnimacija480 1.5s;
    white-space: nowrap;
    font-size: 20px;
    height: 60px;
}

#izbornik > ul{
    font-size: 15px;
}

#o-meni{
    width: 90%;
    margin-bottom: 10px;
}

article{
    width: 80%;
    font-size: 15px;
    height: 100%;
}

hr{
    border: 0;
}


